{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}

    <table>
        <thead>
            <tr>
                <th>TIMESTAMP</th>
                <th>Symbol</th>
                <th>Name</th>
                <th>Shares</th>
                <th>Price</th>
                <th>Value</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.timestamp}}</td>
                <td>{{ transaction.symbol }}</td>
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.shares }}</td>
                <td>{{ transaction.price }}</td>
                <td>{{ transaction.value }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}